.cardInfoVer {
    position: relative;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 1s ease;
    overflow: hidden; 
}

.overlayInfo {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0 10% 0 10%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.95);
    color: #000;
    opacity: 0;
    display: flex;
    flex-direction: column;
    transition: opacity 3s ease, transform 3s ease; /* Agrega transición */
    transform-origin: center; 
}

/* .overlayInfo > * {
    padding: 20px;
} */

.cardInfoVer:hover .overlayInfo,
.cardInfoVer.active .overlayInfo {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}